<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title></title>
</head>

<body>
  <h1>Nootropics Index Page</h1>
  <!-- <div style = "position:relative; top:100px;"> -->
    
  <% nootropics.forEach((n) => {%>

    <p>Name: <%=n.name%></p>
    <p>Category: <%=n.category%></p>
    
    <form action="/nootropics/<%=n._id%>?_method=PUT" method="POST">
      <input type="text" name="name" /> 
      <input type="submit" value="EDIT" />
      </form>
   
    <form action="/nootropics/<%=n._id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
      </form>
      
      <!-- <form action="/nootropics/<%=n._id%>?_method=PUT" method="POST">
        <input type="text" name="category" /> 
        <input type="submit" value="EDIT" />
        </form> -->
    
    <%}); %>
    <a href="/nootropics/new/">Nootropics Category</a>
    
</body>

</html>