<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Nootropics index page</h1>
  <ul>
    <% for(let i = 0; i < nootropics.length; i++){ %>
    <li>
      The <a href="/nootropics/<%=nootropics[i].id; %>">
        <%=nootropics[i].name; %>
      </a> is <%=nootropics[i].color; %>.
      <% if(nootropics[i].readyToEat === true){ %>
      It is ready to eat
      <% } else { %>
      It is not ready to eat
      <% } %>
      <!-- ADD DELETE FORM HERE -->
      <form action="/nootropics/<%=nootropics[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
      </form>
      <!-- nootropics/5e5a93cd12675b4c0efcb17e/edit -->
      <a href="/nootropics/<%=nootropics[i].id%>/edit">Edit</a>
    </li>
    <% } %>
  </ul>

</body>

</html>